*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/app/debug
/app/release
/captures
.externalNativeBuild
.cxx
# Файлы локальных свойств, где могут быть API-ключи
local.properties
# Конфигурация Firebase
app/google-services.json
# Секретные ключи для подписи APK (если есть)
*.jks
*.keystore
